.vscode
writeFunction.cpp
legacy_w_r_i_t_e_f_u_n_c_t_i_o_n.cpp
temp_vdbe.c
*.out
debug/
release/
# opcodes.h
# opcodes.c
config.status
config.h
config.log
build
/Makefile
*.a
*.la
fmt
thirdparty/
.libs/
.DS_Store
*.db
tsrc
*.lo
cmake-build*
*.dSYM
.target_source
.idea
*.o
/profile/
/kowalski_util/map.txt
/kowalski_util/stack.txt
libtool
mksourceid
sqlite3.pc
sqlite3session.h
Makefile-Algam
Makefile-NoAlgam
